
==GlobalConfig==
//@strength_default  5
@unprotect         status_flags

@unprotect         EAX
@unprotect         ECX
@unprotect         EBX
@unprotect         EDX
@unprotect         ESI
@unprotect         EDI


//@protect thread_memory
//@stack_usable on
@stack_pointer_define esp
//@gen4debug01 on

==/GlobalConfig==


==SectionConfig==
@name              .text$unest_here       //×¢ÊÍ...     
@strength_poly_max 55
@strength_poly_min 45
@strength_bone_max 45
@strength_bone_min 35
@strength_meat_max 30
@strength_meat_min 25
//@meat_mutation 0
==/SectionConfig==