
==GlobalConfig==
//@strength_default  5
@unprotect         status_flags

//@protect thread_memory

@stack_pointer_define esp

//@gen4debug01 on

@stack_usable on

==/GlobalConfig==


==SectionConfig==
@name              .text
@strength_poly_max 45
@strength_poly_min 35
@strength_bone_max 35
@strength_bone_min 25
@strength_meat_max 25
@strength_meat_min 15
//@meat_mutation 0


@stack_pointer_define EBP

==/SectionConfig==
